<header>
  <label>N</label>
  <input [(ngModel)]="latitude">
  <label>E</label>
  <input [(ngModel)]="longitude">
  <button (click)="loadData()">▶</button>
</header>
<main *ngIf="data.currently">
  <img class="icon" src="{{ 'assets/' + data.currently.icon + '.svg'}}">
  <p class="temperature">{{data.currently.temperature | number:'1.0-0'}}°C</p>
  <p class="summary">{{data.currently.summary}}</p>
</main>
<footer *ngIf="data.currently">
  <div *ngFor="let day of data.daily.data">
    <p>{{ day.time * 1000 | date:'EEE' }}</p>
    <img class="icon" src="{{ 'assets/' + day.icon + '.svg'}}">
    <p class="temperature">{{day.temperatureLow | number:'1.0-0'}}°C/{{day.temperatureHigh | number:'1.0-0'}}°C</p>
  </div>
</footer>